.forecast-forecast-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 50px;
    background-color: rgb(247, 250, 250);
    width: auto;
    margin: 5%;
}
  .forecast-search-container {
    margin: 10%;
    color: red;
    background-color: wheat;
  }
   .forecast-data-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .forecast-items-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
     }
  .forecast-item {
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    margin: 20px;
    margin-top: 30px;
    margin-bottom: 25px;
    text-align: left;
    color: rgb(2, 16, 74);
    font-style: oblique;
    background-color:rgba(201, 224, 236, 0.774);
    border-radius: 15px;
    width: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  



 
  